body,html {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
  font-family: Source Sans Pro,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: #fafafa;
}

[role=link]:hover,a:hover {
  cursor: pointer;
}

.message-container .message .message-content .message-header .time {
  color: #999;
}

.btn {
  border-radius: 3px;
}

.btn,.btn:active,.btn:active:focus,.btn:focus {
  outline: none;
}

.form-control {
  font-size: 16px;
  border-radius: 3px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
  border-radius: 15px;
}

.dropdown-menu {
  padding: 10px;
}

i.fa {
  text-align: center;
}

@keyframes highlightBubble {
  0% {
    box-shadow: 0 0 1px 10px #3c4860;
  }

  75% {
    box-shadow: 0 0 1px 5px #3c4860;
  }

  to {
    box-shadow: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  1% {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInFlex {
  0% {
    opacity: 0;
    display: none;
  }

  1% {
    opacity: 0;
    display: flex;
  }

  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes iconZoom {
  0% {
    font-size: 22px;
  }

  to {
    font-size: 24px;
  }
}

#main .main-header {
  background-color: #fff;
  color: #606060;
  padding: 0 7px 0 20px;
  border-bottom: 1px solid #d8d8d8;
}

#main .main-header .header-content {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

#main .main-header .header-content .dropdown.btn-group {
  max-width: calc(100% - 450px);
}

@media (max-width:991px) {
  #main .main-header .header-content .dropdown.btn-group {
    max-width: calc(100% - 400px);
  }
}

#main .main-header .header-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 7px;
}

#main .main-header .header-nav form {
  margin-left: 10px;
  position: relative;
}

#main .main-header .header-nav form i.fa {
  color: #3c4860;
  font-size: 18px;
  line-height: 36px;
  position: absolute;
  top: 0;
}

#main .main-header .header-nav form .form-control {
  height: 36px;
  width: 310px;
  box-shadow: none;
  border: 2px solid #d8d8d8;
  padding-left: 38px;
  padding-right: 34px;
}

#main .main-header .header-nav form .form-control:focus {
  border-color: #3c4860;
}

@media (max-width:991px) {
  #main .main-header .header-nav form .form-control {
    width: 260px;
  }
}

#main .flex-content #chat-container {
  background: #fff;
  position: relative;
}

#main .flex-content #chat-container .container-bars {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 1px;
  right: 1px;
  padding: 0 18px;
  background: #fff;
  visibility: hidden;
}

#main .flex-content #chat-container #chat {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

#main .flex-content #chat-container #chat::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #f3f3f3;
}

#main .flex-content #chat-container #chat::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

#main .flex-content #chat-container #chat::-webkit-scrollbar-corner {
  background-color: #f3f3f3;
}

#main .flex-content #chat-container #chat .date-separator {
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 1px solid #d8d8d8;
  margin: 25px 0;
}

#main .flex-content #chat-container #chat .date-separator .date {
  color: #3c4860;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background: #fff;
  padding: 0 12px;
  position: absolute;
  top: -14px;
}

#main .flex-content #chat-container.loaded #chat,#main .flex-content #chat-container.loaded .container-bars {
  visibility: visible;
}

#main .flex-footer {
  padding: 0 20px;
}

#main .flex-footer .message-form {
  position: relative;
  padding-bottom: 25px;
  width: 100%;
}

#main .flex-footer .message-form .message-input-wrapper {
  width: 100%;
  position: relative;
}

#main .flex-footer .message-form .message-form-upload {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#main .flex-footer .message-form .message-form-upload .message-form-action-item {
  display: block;
  width: 30px;
  height: 42px;
  color: #3c4860;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
}

#main .flex-footer .message-form .message-form-upload .message-form-action-item i.fa {
  -webkit-transition: all 50ms ease-out 0s;
  -moz-transition: all 50ms ease-out 0s;
  transition: all 50ms ease-out 0s;
}

#main .flex-footer .message-form .message-form-upload .message-form-action-item:hover i.fa {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

#main .flex-footer .message-form .message-form-upload {
  border-right: 2px solid #d8d8d8;
  right: auto;
  left: 2px;
  top: 0;
  bottom: 0;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all ease-in-out .15s;
  transition: all .15s ease-in-out;
}

#main .flex-footer .message-form .message-form-upload .message-form-action-item {
  width: 35px;
  height: 44px;
  line-height: 44px;
}

#main .flex-footer .message-form .message-text {
  display: block;
  color: #333;
  min-height: 44px;
  max-height: 50vh;
  font-size: 16px;
  border-width: 2px;
  box-shadow: none;
  border-color: #d8d8d8;
  padding: 8px 72px 8px 43px;
  resize: none;
}

#main .flex-footer .message-form .message-text::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #f3f3f3;
}

#main .flex-footer .message-form .message-text::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

#main .flex-footer .message-form .message-text::-webkit-scrollbar-corner {
  background-color: #f3f3f3;
}

#main .flex-footer .message-form .users-typing {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 23px;
  font-size: 12px;
  color: #888;
}

.topPosition {
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottomPositionWrapper {
  position: relative;
}

.bottomPosition {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

.message-container {
  display: flex;
}

.message-container .message {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 2px 40px 3px;
}

.message-container .message:hover {
  background: #f5f5f5;
}

.message-container .message .message-content {
  flex: 1;
  font-size: 16px;
  min-width: 0;
}

.message-container .message .message-content .message-header {
  display: flex;
  align-items: baseline;
}

.message-container .message .message-content .message-header .name {
  color: #3c4860;
  font-weight: 700;
}

.message-container .message .message-content .message-header .time {
  cursor: default;
  color: #707070;
  font-size: 12px;
  margin-left: 5px;
}

.message-container .message .message-content .message-content-wrapper {
  margin-top: -2px;
}

.message-container .message .message-content .message-body-wrapper {
  display: block;
}

.message-container .message .message-content .message-body-wrapper .message-body {
  display: block;
  word-wrap: break-word;
}

.message-container .message .message-content .message-body-wrapper .message-body br:last-of-type {
  display: none;
}

.message-container .message .message-icon {
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.message-container .message-reactions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.welcome-message__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 15px;
}

.welcome-message__title {
  width: 100%;
}

.welcome-message__title h3 span {
  font-size: 40px;
  text-align: left;
  color: #3c4860;
  font-weight: 900;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  padding-right: 9px;
}

.welcome-message__text {
  font-size: 16px;
}

.welcome-message__name {
  color: #3c4860;
  font-weight: 800;
  margin: 0 3px;
}

#app {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  min-width: 840px;
}

.appContainer {
  display: flex;
  width: 100%;
  flex: 1;
  min-height: 0;
}

#main,#sidemenu {
  position: relative;
  display: flex;
  flex-direction: column;
}

#sidemenu {
  overflow-x: visible;
  flex-basis: 220px;
  max-width: 220px;
}

#main {
  flex-grow: 1;
  width: 100%;
}

#main .flex-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#main .flex-content #chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 350px);
}

#main .flex-content #chat-container #chat {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width:991px) {
  #main .flex-content #chat-container {
    width: calc(100% - 300px);
  }
}

.flex-header {
  color: #fff;
  background: #3c4860;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex: 0 0 65px;
  min-height: 0;
}

.flex-header h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.flex-header a {
  cursor: pointer;
}

.flex-content {
  overflow-y: auto;
  flex-grow: 1;
}

.flex-footer {
  display: flex;
  flex-shrink: 0;
  min-height: 60px;
}

.chat-wrapper {
  min-width: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.message-link {
  color: #3c4860;
  text-decoration: none;
  border-bottom: 1px dotted #3c4860;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.message-link:active,.message-link:focus,.message-link:hover {
  text-decoration: none;
  border-bottom-style: solid;
  box-shadow: none;
}

.message-body .user-profile-menu {
  position: relative;
  top: -1px;
}

.portal-dropdown-wrapper {
  position: relative;
}

#sidemenu {
  background-color: #3c4860;
}

#sidemenu .flex-header {
  color: #fff;
  background-color: #3c4860;
  z-index: 10;
  padding: 0 15px;
}

#sidemenu .flex-header .team-user {
  flex: 1;
  min-width: 0;
  padding-top: 6px;
}

#sidemenu .flex-header .team-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#sidemenu .flex-header .user-name {
  color: #fff;
  display: flex;
  align-items: center;
}

#sidemenu .flex-header .user-name i {
  font-size: 11px;
  line-height: 20px;
}

#sidemenu .flex-header .user-name span {
  line-height: 20px;
}

#sidemenu .flex-header .user-name__text {
  opacity: .6;
}

#sidemenu .flex-header .user-name__status-icon {
  width: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
}

#sidemenu .flex-header .btn {
  line-height: 65px;
  width: 22px;
  text-align: center;
  padding: 0;
  border: none;
  outline: none;
  color: #fff;
  opacity: .6;
}

#sidemenu .flex-header .btn:hover {
  color: #fff;
  opacity: 1;
}

#sidemenu .flex-header .dropdown-menu {
  width: 210px;
  padding: 17px 27px;
  margin: -16px -10px 0 0;
}

#sidemenu .flex-header .dropdown-menu .user-header {
  color: #3c4860;
  display: flex;
  align-items: center;
}

#sidemenu .flex-header .dropdown-menu .user-header .content {
  flex: 1;
}

#sidemenu .flex-header .dropdown-menu h5 {
  color: #3c4860;
  font-size: 15px;
  font-weight: 700;
  margin: 5px 0 20px;
}

#sidemenu .flex-header .dropdown-menu .separator {
  color: #aaa;
  border-top: 1px solid #d8d8d8;
  position: relative;
  margin: 15px 0;
}

#sidemenu .flex-header .dropdown-menu .separator span {
  width: 50px;
  font-size: 13px;
  background: #fff;
  margin-left: -25px;
  position: absolute;
  top: -10px;
  padding: 0 6px;
}

#sidemenu .flex-content {
  position: relative;
  display: flex;
}

#sidemenu .flex-content .rooms-menu {
  position: relative;
  flex: 1;
  overflow: hidden;
}

#sidemenu .flex-content .rooms-menu::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #f3f3f3;
}

#sidemenu .flex-content .rooms-menu::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

#sidemenu .flex-content .rooms-menu::-webkit-scrollbar-corner {
  background-color: #f3f3f3;
}

#sidemenu .flex-content .rooms-menu .scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#sidemenu .flex-content .rooms-menu__scroll-wrap {
  padding: 10px 0 20px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 0 5px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading__action {
  width: 22px;
  display: flex;
  justify-content: center;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading h5 {
  flex-grow: 1;
  flex-shrink: 0;
  color: hsla(0,0%,100%,.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  margin: 0;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading h5 a {
  display: inline-block;
  color: #fff;
  opacity: .6;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading h5 a:hover {
  color: #fff;
  opacity: 1;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading i.fa {
  font-size: 20px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading a {
  display: flex;
  outline: none;
  text-decoration: none;
  color: #fff;
  opacity: .6;
}

#sidemenu .flex-content .rooms-menu .menu-nav .heading a:hover {
  color: #fff;
  opacity: 1;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 3px 15px;
  position: relative;
  line-height: 1.4;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon {
  display: flex;
  justify-content: center;
  flex-basis: 16px;
  flex-shrink: 0;
  margin-right: 6px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa {
  opacity: .6;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa-circle,#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa-circle-o {
  color: #fff;
  font-size: 11px;
  margin-top: 1px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa-circle-o {
  color: hsla(0,0%,69%,.75);
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa-circle {
  opacity: 1;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa-comments,#sidemenu .flex-content .rooms-menu .menu-nav .item .item-icon i.fa-link {
  font-size: 13px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item .item-text {
  flex-grow: 1;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: .5;
  padding-right: 4px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item:hover {
  background: #001935;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item:hover .item-text {
  padding-right: 24px;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item.active {
  color: #3c4860;
  background: #fff;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item.active .item-icon,
#sidemenu .flex-content .rooms-menu .menu-nav .item.active .item-icon i.fa-circle,\
#sidemenu .flex-content .rooms-menu .menu-nav .item.active .item-icon i.fa-circle-o {
  color: #3c4860;
}

#sidemenu .flex-content .rooms-menu .menu-nav .item.active .item-icon i.fa,#sidemenu .flex-content .rooms-menu .menu-nav .item.active .item-text {
  opacity: 1;
}

#sidemenu .flex-footer {
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 15px;
}

#sidemenu .flex-footer .user {
  flex-grow: 1;
  line-height: 1.2;
}

#sidemenu .flex-footer .user .name {
  font-weight: 700;
}

#sidemenu .flex-footer .btn {
  width: 32px;
  color: #aaa;
  font-size: 16px;
  padding: 4px 7px;
}

#sidemenu .flex-footer .btn:hover {
  background: #f2f2f2;
}

.m-b-5 {
  margin-bottom: 5px!important;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-15 {
  margin-bottom: 15px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-b-25 {
  margin-bottom: 25px!important;
}

.m-b-30 {
  margin-bottom: 30px!important;
}

.m-b-35 {
  margin-bottom: 35px!important;
}

.m-b-40 {
  margin-bottom: 40px!important;
}

.m-b-45 {
  margin-bottom: 45px!important;
}

.m-b-50 {
  margin-bottom: 50px!important;
}

.m-b-75 {
  margin-bottom: 75px!important;
}

.m-b-100 {
  margin-bottom: 100px!important;
}

.user-profile-menu-dropdown.dropdown-menu {
  width: 260px;
  padding: 0 0 12px;
}

.user-profile-menu-dropdown.dropdown-menu .header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 12px 12px;
  margin: 12px;
}

.user-profile-menu-dropdown.dropdown-menu .header .content {
  flex: 1;
}

.user-profile-menu-dropdown.dropdown-menu a {
  margin: 0 12px;
}

#footer {
  background-color: #fff;
  box-shadow: 0 -1px 0 #eaeaea;
  padding: 20px 0;
}

#footer h5 {
  color: #3c4860;
  font-size: 15px;
  font-weight: 700;
}

#footer a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

#footer i.fa {
  color: #999;
  font-size: 20px;
  margin-right: 10px;
}